Package: com.m4fn3.gommirativ
Name: Gommirativ
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: mafu
Author: mafu
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
